---
services:
  backup_3ds:
    container_name: backup_3ds
    build: ./
    environment:
      - FTPD_3DS_ADDRESS=backup_3ds_ftp_server
      - FTPD_3DS_PORT=21
      - FTPD_3DS_USERNAME=ds
      - FTPD_3DS_PASSWORD=ds
      - BACKUP_SRC=/home/ds
    volumes:
      - "/tmp/backup_3ds:/var/lib/3ds_backup"
    depends_on:
      backup_3ds_ftp_server:
        condition: service_started
    develop:
      watch:
        - path: ./Dockerfile
          action: rebuild
        - path: ./3ds_backup.sh
          action: rebuild
        - path: ./crontab
          action: rebuild
        - path: ./docker-compose.yaml
          action: rebuild

  # ftp server for debugging
  backup_3ds_ftp_server:
    container_name: backup_3ds_ftp_server
    image: stilliard/pure-ftpd
    environment:
      - FTP_USER_NAME=ds
      - FTP_USER_PASS=ds
      - FTP_USER_HOME=/home/ds
    volumes:
      - "./data:/home/ds"
